# Python caches
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Data and Models
data/embeddings/
data/eval/results_*.json
data/eval/results_*.csv
data/eval/plots/
models/

# Application specific
.streamlit/secrets.toml

# IDE and OS
.vscode/
.idea/
.DS_Store